# Kaggle
KAGGLE_DATASET=asaniczka/1-3m-linkedin-jobs-and-skills-2024

# Local/S3 paths
RAW_DATA_PATH=data/raw/linkedin_jobs
PROCESSED_DATA_PATH=data/processed
CURATED_DATA_PATH=data/curated

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=job_market
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password

# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
S3_BUCKET=job-market-pipeline